.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    color: var(--text-secondary);
    cursor: pointer;
}

/* Sárga/Narancs gomb a szerkesztéshez */
.btn-edit {
    background-color: #ffa000;
    margin-right: 5px;
}
.btn-edit:hover {
    background-color: #ffb300;
}

/* Piros gomb a törléshez */
.btn-delete {
    background-color: #d32f2f;
}
.btn-delete:hover {
    background-color: #ef5350;
}